  <%= form_for (@book) do |f| %>

<div class="error_messages">
  <% if f.object.errors.any? %>
    <div class="error_explanation">
      <h2><%= f.object.errors.count %>errors prohibited this book from being saved:</h2>
      <ul>
        <% f.object.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
<div class="form-text">
    <%= label :title, "Title" %><br>
    <%= f.text_field :title %>
</div>
<div class="form-text">
    <%= label :body, "Body" %><br>
    <%= f.text_area :body %>
</div>
    <%= f.submit 'Create Book' %> 
<div>
<%= link_to  "Show", book_path(@book),class: "link"  %>
<sapan>|</span>
<%= link_to  "Back", books_path(@book),class: "link"  %>
</div>
<% end %>