 <% if flash[:notice] %>
  <p class="flash-text"><%= flash[:notice] %></p>
<% end %>
   
   <p class='show-text'><strong>Title:</strong>
    <%= @book.title%></p>
   <p class='show-text'><strong>Body:</strong>
    <%= @book.body%></p>

<%= link_to  "Edit", edit_book_path(@book.id),class: "link"  %>
<sapan>|</span>
<%= link_to  "back", books_path(@book.id),class: "link"  %>